*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
}
.blue{
    width: 100%;
    height: 30vh;
    background-color: skyblue;
}
.first__red{
    width: 100%;
    height: 5vh;
    background: red;
}
.white{
    width: 100%;
    height: 30vh;
    background-color: white;
}
.second__red{
    width: 100%;
    height: 5vh;
    background: red;
}
.green{
    width: 100%;
    height: 30vh;
    background-color:lightgreen;
}